.page-title{
    margin-left: auto;
}

.site-title {
    margin-left: 20px;
    
}

.main-container {
    position: fixed;
    height:100%;
    width:98%;
}


.page-container {
    padding:10px;
}

.page-title{
   font-family:   Roboto,"Helvetica Neue",sans-serif;
   margin:0;
}


.add-button {
    position: absolute;
    top:100px;
    right:95px
}