@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
/* You can add global styles to this file, and also import other style files */
body {
    background-color: #303030;
    margin: 0;
}



snack-bar-container.mat-snack-bar-container {
    /* background-color: #f44336; */
    color: white;
}

 