<div class="example-container">
  <button class="close" style="float: right;" mat-button (click)="onNoClick()">X</button>
    <h1 mat-dialog-title>Add Database</h1>
    <div class="alert" *ngIf="errorTextIndicator">
      <span class="closebtn">&times;</span> 
      <strong>{{errorText}}</strong>
    </div>
    <form class="example-form" #form="ngForm" autocomplete="off">
        
            <mat-form-field class="example-full-width" color="accent">
              <input matInput #columnName="ngModel" appCommandValidator placeholder="Database Name" [(ngModel)]="name" name="name" required> 
              <mat-hint align="start"><strong>Name of Database</strong> </mat-hint>
              
              <mat-error *ngIf="columnName.invalid && (columnName.dirty || columnName.touched) && columnName.errors.required">
                    Name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          
            <br><br>
  
            <mat-form-field class="example-full-width" color="accent">
              <input matInput #dbDescription="ngModel" appCommandValidator placeholder="Description" [(ngModel)]="description" name="description" required>
              <mat-hint align="start"><strong>Description of Database</strong> </mat-hint>
              
              <mat-error *ngIf="dbDescription.invalid && (dbDescription.dirty || dbDescription.touched) && dbDescription.errors.required">
                    Description is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          
            <br><br>
              
            <mat-form-field class="example-full-width" color="accent">
              
                <input matInput #dbURL="ngModel" appCommandValidator placeholder="Connection URL" [(ngModel)]="url" name="url" required>
                <mat-hint align="start"><strong>DB Connection URL</strong> </mat-hint>
                
              <mat-error *ngIf="dbURL.invalid && (dbURL.dirty || dbURL.touched) && dbURL.errors.required">
                    Connection URL is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <br><br>
              
            <mat-form-field class="example-full-width" color="accent">
              
                <input matInput #dbURL="ngModel" appCommandValidator placeholder="Driver Class Name" [(ngModel)]="driverClassName" name="driverClassName" >
                <mat-hint align="start"><strong>Driver Class Name</strong> </mat-hint>
            </mat-form-field>
          
            <br><br>
                 
            <mat-form-field class="example-full-width" color="accent">
              
                <input matInput #dbUsername="ngModel" appCommandValidator placeholder="Username" [(ngModel)]="username" name="username" required>
                <mat-hint align="start"><strong>DB username</strong> </mat-hint>
                
              <mat-error *ngIf="dbUsername.invalid && (dbUsername.dirty || dbUsername.touched) && dbUsername.errors.required">
                   Username is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          
            <br><br>

            <mat-form-field class="example-full-width" color="accent">
              
                <input matInput #dbPassword="ngModel" appCommandValidator placeholder="Password" [(ngModel)]="password" name="password" type="password" required>
                <mat-hint align="start"><strong>DB Password</strong> </mat-hint>
                
              <mat-error *ngIf="dbPassword.invalid && (dbPassword.dirty || dbPassword.touched) && dbPassword.errors.required">
                    Password is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          
            <br><br>

  
              <button *ngIf="dsId!=null" mat-raised-button [disabled]="form.invalid" (click)="editDB()" color="primary">
                  <mat-icon aria-label="Submit">create</mat-icon>&nbsp;Update Database
              </button>  
              <button *ngIf="dsId==null" mat-raised-button [disabled]="form.invalid" (click)="addDB()" color="primary">
                  <mat-icon aria-label="Submit">add</mat-icon>&nbsp;Add Database
              </button>  
      </form>
  
     
  </div>