<div class="example-container">
  <h1 mat-dialog-title>Add Report Column</h1>
  <form class="example-form" #form="ngForm" autocomplete="off">
      
          <mat-form-field class="example-full-width" color="accent">
            <input matInput #columnName="ngModel" appCommandValidator placeholder="Column Name" readonly [(ngModel)]="name" name="name" required>
            <mat-hint align="start"><strong>Name of column</strong> </mat-hint>
            
            <mat-error *ngIf="columnName.invalid && (columnName.dirty || columnName.touched) && columnName.errors.required">
                  Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        
          <br><br>

          <mat-form-field class="example-full-width" color="accent">
            <input matInput #columnLabel="ngModel" appCommandValidator placeholder="Column Label" [(ngModel)]="label" name="label" required>
            <mat-hint align="start"><strong>Label of column</strong> </mat-hint>
            
            <mat-error *ngIf="columnLabel.invalid && (columnLabel.dirty || columnLabel.touched) && columnLabel.errors.required">
                  label is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        
          <br><br>
            
          <mat-form-field class="example-full-width" color="accent">
            
            <mat-select #columnType="ngModel" placeholder="Column Type"  [(ngModel)]="type" name="type">
              <mat-option *ngFor="let type of columnTypes" [value]="type.value">
                {{ type.viewValue }}
              </mat-option>
            </mat-select>  
            
            <mat-hint align="start"><strong>Type of column</strong> </mat-hint>
            
            <mat-error *ngIf="columnType.invalid && (columnType.dirty || columnType.touched) && columnType.errors.required">
                  Type is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        
          <br><br>
               

          <mat-form-field class="example-full-width" color="accent">
            <input matInput #columnFormat="ngModel" appCommandValidator placeholder="Column Format" [(ngModel)]="format" name="format">
            <mat-hint align="start"><strong>Format of column</strong> </mat-hint>
           
          </mat-form-field>
        
          <br><br>
          <mat-form-field class="example-full-width" color="accent">
            
            <mat-select #columnType="ngModel" placeholder="Primary Key"  [(ngModel)]="primaryKey" name="primaryKey">
              <mat-option *ngFor="let type of primaryKeyType" [value]="type">
                {{ type }}
              </mat-option>
            </mat-select>  
            
            <mat-hint align="start"><strong>Type of column</strong> </mat-hint>
            
            <mat-error *ngIf="columnType.invalid && (columnType.dirty || columnType.touched) && columnType.errors.required">
                  Type is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          
          <br><br>

          <mat-form-field class="example-full-width" color="accent">
            <input matInput #columnFormat="ngModel" appCommandValidator placeholder="Precision" [(ngModel)]="precision" name="precision">
            <mat-hint align="start"><strong>Precision</strong> </mat-hint>
           
          </mat-form-field>
          <br><br>

          <mat-form-field class="example-full-width" color="accent">
            <input matInput #columnFormat="ngModel" appCommandValidator placeholder="Scale" [(ngModel)]="scale" name="scale">
            <mat-hint align="start"><strong>Scale</strong> </mat-hint>
           
          </mat-form-field>          
        
          <br><br>          
               
            <button *ngIf="columnId!=null" mat-raised-button [disabled]="form.invalid" (click)="editColumn()" color="primary">
              <mat-icon aria-label="Submit">create</mat-icon>&nbsp;Update Column
            </button>  
            <button *ngIf="columnId==null" mat-raised-button [disabled]="form.invalid" (click)="addColumn()" color="primary">
                <mat-icon aria-label="Submit">add</mat-icon>&nbsp;Add Column
            </button>  

    </form>

   
</div>