
<div class="page-container">
    <button mat-fab (click)="addDatabase(dsId)" color="primary"  matTooltip="Add SFDC Connection" style="position:fixed;top:95px;right:95px">
        <mat-icon >add</mat-icon>
      </button>

      <h3 class="page-title">Registered SFDC Connections</h3>





<br><br>

<div class="example-container mat-elevation-z8">
      <mat-progress-bar *ngIf="loading"
          class="example-margin"
          color="primary"
          mode="indeterminate">
      </mat-progress-bar>
      <mat-table #table [dataSource]="datasource">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->


        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> NAME </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef> DESCRIPTION </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
          </ng-container>

        <ng-container matColumnDef="url">
          <mat-header-cell *matHeaderCellDef> URL </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.url}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="username">
          <mat-header-cell *matHeaderCellDef> USERNAME </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.username}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="password">
          <mat-header-cell *matHeaderCellDef> PASSWORD </mat-header-cell>
          <mat-cell *matCellDef="let element"> *********** </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef> ACTIONS </mat-header-cell>
          <mat-cell *matCellDef="let element" class="button-row">

                    <button mat-mini-fab color="accent" matTooltip="Edit Data Source" (click)="addDatabase(element.dsId)">
                        <mat-icon >create</mat-icon>
                      </button>
                      <button mat-mini-fab color="warn" matTooltip="Delete Data Source" (click)="delete(element.dsId)">
                          <mat-icon >delete_forever</mat-icon>
                        </button>
          </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>

  </div>
